include README.md requirements.txt
include docs/Makefile docs/make.bat docs/conf.py docs/*.rst docs/_static/* docs/_templates/*
include client/.babelrc client/.eslintignore client/*.json client/*.js client/src/*
include tests/*.py
include static/* templates/*
global-exclude *.py[cod]
global-exclude *~
