.custom-tabs-container {
    font-size: 16px;
    width: 50%;
    height: 40px;
}
.custom-tabs {
    border-top-left-radius: 3px;
    font-size: 16px;
    background-color: #e7e6e6;
    padding: 0px;
    margin-top: 5px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color: black;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #e7e6e6 !important;
    padding: 10px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    font-size: 16px;
    box-shadow: 1px 1px 0px white;
    background-color: #fdfdfd !important;
    border-left: 1px solid #fdfdfd !important;
    border-right: 1px solid #fdfdfd !important;
    border-top: 3px solid #716450 !important;
}

.tab.custom-tab.tab--disabled{
    background-color: #fdfdfd;
    font-size: 16px;
}

#sidebar_map {
    font-weight:400;
}

h1,h2,h3,h4,h5 {
    font-weight:700;
}

.rc-slider-track {
    background-color: #716450;
}

.dropdown-toggle{
    border-color: #FFFFFF;
    color: #000000;
    font-size: 16px;
    letter-spacing: 4px;
    padding: 2;
}

.btn-primary:active, .dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:focus, .show>.btn-primary.dropdown-toggle{
    border-color: #FFFFFF;
    color: #000000;
    box-shadow: none;
}

.btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
    border-color: #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: none;
}

.nav-link{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
}

#react-aria3184038141-3 {
    border-color: #FFFFFF;
}

.rounded-select {
    border-radius: 75%;
}

#graph_filter_global > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_global > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_global_centrality > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}
#graph_filter_global_centrality > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_local > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_local > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_local_centrality > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_local_centrality > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_communities > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_communities > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}



#graph_filter_communities_treemap > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#graph_filter_communities_treemap > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender_global_centrality > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender_global_centrality > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender_local > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender_local > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender_local_centrality > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender_local_centrality > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender_communities > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#show_gender_communities > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

#crossing_ties_communities > label:nth-child(odd) > input[type=checkbox] {
    accent-color: #716450;
}

#crossing_ties_communities > label:nth-child(even) > input[type=checkbox] {
    accent-color: #716450;
}

.rc-slider-handle {
    border-color: #716450;
}

.rc-slider-dot-active {
    border-color: #716450;
}

#tabs_local_cetrality-parent{
    margin-top: 0px;
    margin-left: 1px;
    padding-left: 1px;
}

#content > div > div > div.js-plotly-plot > div > div {
    width: auto;
    height: 1000px;
}

#main-netowrk-graph-communities, #main-netowrk-graph-communities-treemap {
    background-color: #e7e6e6;

}