<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8" />

      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{% block title %}Page{% endblock title %} - Diogenet</title>

      <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <script src="/static/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    {% endblock head %}
  </head>
  {% block full_body %}
    <body>
      {% block body %}{% endblock %}
    </body>
  {% endblock full_body %}
</html>
