<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    {% block head %}
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Page{% endblock title %} - Diogenet</title>
    {% block page_style %}
    <link
      rel="stylesheet"
      href="/static/client/main_styles.bundle.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      type="text/css"
    />
    {% endblock page_style %} {% endblock head %}
  </head>
  {% block full_body %}
  <body style="height: 100%">
    {% block body %}{% endblock %}
  </body>
  {% endblock full_body %}
</html>
