{% extends "sidebar_base.html" %} {% block title %}Horus{% endblock title %} {%
block page_name %}Diogenet&apos;s Horus{% endblock page_name %} {% block
page_style %}
<script src="/static/client/horus.bundle.js" type="text/javascript"></script>
<link
  rel="stylesheet"
  href="/static/client/horus_styles.bundle.css"
  type="text/css"
/>
{% endblock page_style %} {% block navbar_items %}
<li class="nav-item dropdown active">
  <a
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    href="#"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Global Network
  </a>
  <div class="dropdown-menu">
    <button id="global-btn" class="dropdown-item active" type="button">
      Graph
    </button>
    <button id="global-centrality-btn" class="dropdown-item" type="button">
      Graph + Centrality
    </button>
  </div>
</li>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    href="#"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Local Network
  </a>
  <div class="dropdown-menu">
    <button id="local-btn" class="dropdown-item" type="button">Graph</button>
    <button id="local-centrality-btn" class="dropdown-item" type="button">
      Graph + Centrality
    </button>
  </div>
</li>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    href="#"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Communities
  </a>
  <div class="dropdown-menu">
    <button id="communities-btn" class="dropdown-item" type="button">
      Graph
    </button>
    <button id="communities-treemap-btn" class="dropdown-item" type="button">
      Treemap View
    </button>
  </div>
</li>
{% endblock navbar_items %} {% block head %} {{ super() }} {% endblock head %}
{% block sidebar %}
<div class="my-4">
  <label class="label">Network Ties:</label>
  <div class="form-group" style="padding-left: 20px">
    <div>
      <input
        type="checkbox"
        name="edgesFilter"
        value="is teacher of"
        checked="checked"
      />
      <label class="label" for="ntIsTeacherOf">Is Teacher Of</label>
    </div>
    <div>
      <input type="checkbox" name="edgesFilter" value="is friend of" />
      <label class="label" for="ntIsFriendOf">Is Friend Of</label>
    </div>
    <div>
      <input type="checkbox" name="edgesFilter" value="is family of" />
      <label class="label" for="ntIsFamilyOf">Is Family Of</label>
    </div>
    <div>
      <input type="checkbox" name="edgesFilter" value="is benefactor of" />
      <label class="label" for="ntIsBenefactorOf">Is Benefactor Of</label>
    </div>
    <div>
      <input type="checkbox" name="edgesFilter" value="studied the work of" />
      <label class="label" for="ntStudyTheWorkOf">Studied the work Of</label>
    </div>
    <div>
      <input type="checkbox" name="edgesFilter" value="sent letters to" />
      <label class="label" for="ntSendsLettersTo">Send letters to</label>
    </div>
  </div>
</div>
<div id="graph-layout-control" class="form-group my-4">
  <label class="label" for="graph-layout">Graph Layout:</label>
  <select class="custom-select" name="graphLayout" id="graph-layout">
    <option value="fr">Frutchterman-Reingold</option>
    <option value="kk">Kamada-Kawai</option>
    <option value="sphere">On Sphere</option>
    <option value="circle">In Circle</option>
    <option value="grid_fr">On Grid</option>
  </select>
</div>
<div id="centrality-index-div" class="form-group my-4">
  <label class="label" for="centrality-index">Centrality index:</label>
  <select class="custom-select" name="centrality-index" id="centrality-index">
    <option value="1">Degree</option>
    <option value="2">Betweeness</option>
    <option value="3">Closeness</option>
    <option value="4">Eigenvector</option>
  </select>
</div>
<div id="ego-div" class="form-group my-4 pb-1" style="display: none">
  <label class="label" for="ego-index">Ego:</label>
  <select class="custom-select" name="ego-index" id="ego-index"></select>
  <div class="form-group mb-4" id="ego-order-div">
    <label class="label" for="order-size" style="padding-bottom: 15px"
      >Order:</label
    >
    <div class="d-flex">
      <div class="m-auto pb-10">
        <input
          type="hidden"
          name="order-size"
          id="order-size"
          class="order-range-slider"
          value="4"
        />
      </div>
    </div>
  </div>
</div>

<div class="my-4" id="appareance-size-div">
  <label class="label">Appareance:</label>
  <div class="form-group" id="node-size-div">
    <label class="label" for="node-size" style="padding-bottom: 15px"
      >Node size:</label
    >
    <div class="d-flex">
      <div class="m-auto pb-10">
        <input
          type="hidden"
          name="node-size"
          id="node-size"
          class="node-range-slider"
          value="4,6"
        />
      </div>
    </div>
  </div>
  <div class="form-group" id="label-size-div">
    <label class="label" for="label-size" style="padding-bottom: 15px"
      >Label size:</label
    >
    <div class="d-flex">
      <div class="m-auto pb-10">
        <input
          type="hidden"
          name="label-size"
          id="label-size"
          class="label-range-slider"
          value="4,6"
        />
      </div>
    </div>
  </div>
</div>
{% endblock sidebar %} {% block main %}
<div id="main-container" class="main-container">
  <!-- ********************************************   MAIN CONTAINERS TABS LIST  ********************************************** -->
  <!-- Global Graph container -->
  <ul
    id="global-main-div"
    class="nav nav-tabs nav-tabs-square border-top border-left border-right"
    role="tablist"
  >
    <li class="nav-item">
      <a
        class="nav-link active border-top-0 border-left-0 rounded-0"
        id="graph-tab"
        href="#global-graph"
        role="tab"
        aria-controls="global-graph"
        aria-selected="true"
        data-toggle="tab"
        >Global Network</a
      >
    </li>
  </ul>
  <!-- Graph + Centrality container -->
  <ul
    id="global-centrality-main-div"
    class="nav nav-tabs nav-tabs-square border-top border-left border-right"
    role="tablist"
    style="display: none"
  >
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="graph-central-tab"
        href="#global-central-graph"
        role="tab"
        aria-controls="global-central-graph"
        aria-selected="false"
        data-toggle="tab"
        >Graph</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="graph-heatmap-tab"
        href="#global-heatmap-graph"
        role="tab"
        aria-controls="global-heatmap-graph"
        aria-selected="false"
        data-toggle="tab"
        >Heatmap</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="graph-metrics-tab"
        href="#global-metrics-graph"
        role="tab"
        aria-controls="global-metrics-graph"
        aria-selected="false"
        data-toggle="tab"
        >Metrics</a
      >
    </li>
  </ul>
  <!-- Local Graph container -->
  <ul
    id="local-main-div"
    class="nav nav-tabs nav-tabs-square border-top border-left border-right"
    role="tablist"
    style="display: none"
  >
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="local-graph-tab"
        href="#local-graph"
        role="tab"
        aria-controls="local-graph"
        aria-selected="true"
        data-toggle="tab"
        >Local Network</a
      >
    </li>
  </ul>
  <!-- Local + Centrality container -->
  <ul
    id="local-centrality-main-div"
    class="nav nav-tabs nav-tabs-square border-top border-left border-right"
    role="tablist"
    style="display: none"
  >
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="local-graph-central-tab"
        href="#local-central-graph"
        role="tab"
        aria-controls="local-central-graph"
        aria-selected="false"
        data-toggle="tab"
        >Graph</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="local-graph-heatmap-tab"
        href="#local-heatmap-graph"
        role="tab"
        aria-controls="local-heatmap-graph"
        aria-selected="false"
        data-toggle="tab"
        >Heatmap</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="local-graph-metrics-tab"
        href="#local-metrics-graph"
        role="tab"
        aria-controls="local-metrics-graph"
        aria-selected="false"
        data-toggle="tab"
        >Metrics</a
      >
    </li>
  </ul>
  <!-- Communities Graph container -->
  <ul
    id="communities-main-div"
    class="nav nav-tabs nav-tabs-square border-top border-left border-right"
    role="tablist"
    style="display: none"
  >
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="local-graph-tab"
        href="#communities-graph"
        role="tab"
        aria-controls="communities-graph"
        aria-selected="true"
        data-toggle="tab"
        >Graph</a
      >
    </li>
  </ul>
  <!-- Communities Treemap Graph container -->
  <ul
    id="communities-treemap-main-div"
    class="nav nav-tabs nav-tabs-square border-top border-left border-right"
    role="tablist"
    style="display: none"
  >
    <li class="nav-item">
      <a
        class="nav-link border-top-0 border-left-0 rounded-0"
        id="communities-treemap-graph-tab"
        href="#communities-treemap-graph"
        role="tab"
        aria-controls="communities-treemap-graph"
        aria-selected="true"
        data-toggle="tab"
        >Treemap View</a
      >
    </li>
  </ul>

  <!-- ******************************************** TABS CONTAINERS START  ********************************************** -->
  <!-- Global Graph tabs container -->
  <div class="tab-content main-container" id="global-tab-content">
    <!-- Global Graph Tab -->
    <div
      class="tab-pane fade show active tab-container"
      id="global-graph"
      role="tabpanel"
      aria-labelledby="graph-tab"
    >
      <iframe id="graph-global" src="" width="100%" height="97%" title="">
      </iframe>
    </div>
  </div>
  <!-- Graph + Centrality tabs container -->
  <div class="tab-content main-container" id="global-centrality-tab-content">
    <!-- Graph + Centrality Graph Tab -->
    <div
      class="tab-pane fade tab-container show active"
      id="global-central-graph"
      role="tabpanel"
      aria-labelledby="graph-central-tab"
    >
      <iframe id="graph-centrality" src="" width="100%" height="97%" title="">
      </iframe>
    </div>
    <!-- Graph + Centrality Heatmap Tab -->
    <div
      class="tab-pane fade tab-container"
      id="global-heatmap-graph"
      role="tabpanel"
      aria-labelledby="graph-heatmap-tab"
    >
      <iframe
        id="graph-heatmap-centrality"
        src=""
        width="100%"
        height="97%"
        title=""
      >
      </iframe>
    </div>
    <!-- Graph + Centrality Metrics Tab -->
    <div
      class="tab-pane fade tab-container"
      id="global-metrics-graph"
      role="tabpanel"
      aria-labelledby="graph-metrics-tab"
    >
      <h4>Centralization Scores</h4>
      <table
        id="centralization-table"
        class="table table-striped table-bordered mb-10"
        style="width: 100%"
      >
        <thead class="bg-primary"></thead>
      </table>
      <h4>Centrality Scores</h4>
      <table
        id="metrics-table"
        class="table table-striped table-bordered"
        style="width: 100%"
      >
        <thead class="bg-primary"></thead>
      </table>
    </div>
  </div>
  <!-- Local Graph tabs container -->
  <div class="tab-content main-container" id="local-tab-content">
    <!-- Local Graph Tab -->
    <div
      class="tab-pane fade show active tab-container"
      id="local-graph"
      role="tabpanel"
      aria-labelledby="local-graph-tab"
    >
      <iframe id="graph-local" src="" width="100%" height="97%" title="">
      </iframe>
    </div>
  </div>
  <!-- Local Graph + Centrality tabs container -->
  <div class="tab-content main-container" id="local-centrality-tab-content">
    <!-- Local Graph + Centrality Graph Tab -->
    <div
      class="tab-pane fade tab-container"
      id="local-central-graph"
      role="tabpanel"
      aria-labelledby="local-graph-central-tab"
    >
      <iframe
        id="graph-local-centrality"
        src=""
        width="100%"
        height="97%"
        title=""
      >
      </iframe>
    </div>
    <!-- Local Graph + Centrality Heatmap Tab -->
    <div
      class="tab-pane fade tab-container"
      id="local-heatmap-graph"
      role="tabpanel"
      aria-labelledby="local-graph-heatmap-tab"
    ></div>
    <!-- Local Graph + Centrality Metrics Tab -->
    <div
      class="tab-pane fade tab-container"
      id="local-metrics-graph"
      role="tabpanel"
      aria-labelledby="local-graph-metrics-tab"
    >
      <h3>Centralization Scores</h3>
      <table
        id="local-centralization-table"
        class="table table-striped table-bordered mb-10"
        style="width: 100%"
      >
        <thead class="bg-primary"></thead>
      </table>
      <h3>Centrality Scores</h3>
      <table
        id="local-metrics-table"
        class="table table-striped table-bordered"
        style="width: 100%"
      >
        <thead class="bg-primary"></thead>
      </table>
    </div>
  </div>
  <!-- Communities Graph tabs container -->
  <div class="tab-content main-container" id="communities-tab-content">
    <!-- Communities Graph Tab -->
    <div
      class="tab-pane fade show active tab-container"
      id="communities-graph"
      role="tabpanel"
      aria-labelledby="communities-graph-tab"
    >
      <iframe id="graph-communities" src="" width="100%" height="97%" title="">
      </iframe>
    </div>
  </div>
  <!-- Communities Treemap Graph tabs container -->
  <div class="tab-content main-container" id="communities-treemap-tab-content">
    <!-- Communities Treemap Graph Tab -->
    <div
      class="tab-pane fade show active tab-container"
      id="communities-treemap-graph"
      role="tabpanel"
      aria-labelledby="communities-treemap-graph-tab"
    >
      <iframe
        id="graph-treemap-communities"
        src=""
        width="100%"
        height="97%"
        title=""
      >
      </iframe>
    </div>
  </div>
</div>
{% endblock main %}
