{% extends "sidebar_base.html" %}
{% block title %}Map{% endblock title %}
{% block page_name %}Diogenet&apos;s Map{% endblock page_name %}

{% block head %}
  {{ super() }}
  <script src="/static/client/map.bundle.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/static/client/styles.bundle.css" type="text/css" />
{% endblock head %}

{% block sidebar %}
  <div class="form-group my-5">
    <label class="label" for="traveler">Traveler:</label>
    <select class="custom-select" name="traveler" id="traveler">
      <option value="1">Traveler #1</option>
      <option value="2">Traveler #2</option>
      <option value="3">Traveler #3</option>
      <option value="4">Traveler #4</option>
    </select>
  </div>
  <div class="form-group my-5">
    <label class="label" for="centrality-index">Centrality index:</label>
    <select class="custom-select" name="centrality-index" id="centrality-index">
      <option value="1">Centrality Index #1</option>
      <option value="2">Centrality Index #2</option>
      <option value="3">Centrality Index #3</option>
      <option value="4">Centrality Index #4</option>
    </select>
  </div>
  <div class="my-5">
    <h5>Appareance:</h5>
    <div class="form-group">
      <label class="label" for="label-size">Label size:</label>
      <input type="range"
             name="label-size"
             id="label-size"
             class="custom-range"
             min="1"
             max="11" />
      <div class="row">
        <div class="col-4 text-left">1</div>
        <div class="col-4 text-center">6</div>
        <div class="col-4 text-right">11</div>
      </div>
    </div>
    <div class="form-group">
      <label class="label" for="node-size">Node size:</label>
      <input type="range"
             name="node-size"
             id="node-size"
             class="custom-range"
             min="1"
             max="11" />
      <div class="row">
        <div class="col-4 text-left">1</div>
        <div class="col-4 text-center">6</div>
        <div class="col-4 text-right">11</div>
      </div>
    </div>
  </div>
{% endblock sidebar %}

{% block main %}
  <div class="col-9 p-1">
    <ul class="nav nav-tabs nav-tabs-square border-top border-left border-right">
      <li class="nav-item">
        <a class="nav-link border-top-0 border-left-0 rounded-0" href="#">1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active border-top-0 rounded-0" href="#">2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link border-top-0 rounded-0" href="#">3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link border-top-0 rounded-0" href="#">4</a>
      </li>
    </ul>
    <div class="border border-top-0 p-2">
      Hello
    </div>
  </div>
{% endblock main %}
