{% extends "base.html" %} {% block full_body %}
<body class="d-flex flex-column flex-grow-1 p-0 m-0">
  <nav class="row navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"
      >{% block page_name %}Diogenet{% endblock page_name %}</a
    >
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto nav nav-pills">
        {% block navbar_items %} {% endblock navbar_items %}
      </ul>
      <a class="navbar-text" href="/">
        <span><i class="fas fa-home"></i></span>
      </a>
    </div>
  </nav>

  <div class="row flex-grow-1 m-0 p-0">
    <div class="col-3 bg-light border-right" style="min-width: 250px">
      {% block sidebar %}{% endblock sidebar %}
    </div>

    <div class="col-9 p-1">{% block main %}{% endblock main %}</div>
  </div>
</body>
{% endblock full_body %}
